<div class="container">
  <div class="animated fadeIn">
    <div class="row">
        <div class="loader" *ngIf="loader"></div>
      <div class="col-sm-12">
        <div class="card">
         
          <div class="tab-content clearfix">
            <div class="tab-pane active">
              <div class="card-block" *ngIf="objVisualizacao.length > 0">
                <table *ngFor="let perioroDados of objVisualizacao | orderBy:'periodo':true" class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr *ngFor="let item of perioroDados.dados | orderBy:'indice':false">
                      <td class="text-center" colspan="3" style="vertical-align:middle">{{perioroDados.periodo}}</td>
                      <td class="text-center" colspan="3" style="vertical-align:middle">{{item.indice === 1 ?  'Rodada 1 até 10' : item.indice === 2 ? 'Rodada 11 até 20' : item.indice === 3 ? 'Rodada 21 até 30 - Previsão' : 'Rodada 21 até 30 - Real' }}</td>
                      <td class="text-center" colspan="3">
                        <table class="table table-bordered table-striped table-sm">
                          <tr>
                            <th class="text-center">Times</th>
                            <th class="text-center">Jogos under 2.5</th>
                          </tr>
                          <tbody>
                            <tr  *ngFor="let time of item.timesUnder25 | orderBy:'qtdUnder25':true">
                              <td class="text-center">{{time.time}}</td>
                              <td class="text-center">{{time.under25 | number : '1.2-2'}}%</td>
                            </tr>
                          </tbody>
                        </table>

                        <table class="table table-bordered table-striped table-sm" >
                            <tr>
                              <th class="text-center">Times</th>
                              <th class="text-center">Jogos under 3.5</th>
                            </tr>
                            <tbody>
                              <tr *ngFor="let time of item.timesUnder35 | orderBy:'qtdUnder35':true">
                                <td class="text-center">{{time.time}}</td>
                                <td class="text-center">{{time.under35 | number : '1.2-2'}}%</td>
                              </tr>
                            </tbody>
                          </table>
                      </td>
                    </tr>

                  </thead>


                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>